@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&display=swap');

/* ----------------------------------------Special paddings/margins/text */

* {
    padding: 0;
    margin: 0;
    border: 0;
  }

  * {
    box-sizing: border-box;
  }

  .flex-container {
    display: flex;
  }

/*--------------------------------------------Heading*/

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#text-logo {
   display: flex;
   width: 100%;
   padding-bottom: 1rem;
   justify-content: space-around;
}

hr {
    height: 2px;
    width: 50%;
    margin: auto;    
}

/*-----------------------------------------Nav */

.mini-logo {
    padding: 1rem;
    height: 8em;
    width: 8em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    margin-top: 0;
}

#menu a:hover{
    border-bottom: 1.5px solid white;
    padding-bottom: 1rem;
}

.active {
    border-bottom: 1.5px solid white;
    padding-bottom: 1rem;
}

#menu {
        display: grid;
        grid-auto-flow: column;
        list-style-type: none;
        column-gap: 18rem;
        margin-right: 4rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-family: Montserrat !important;
    text-transform: uppercase;
}

.list-item {
    width: min-content;
    white-space: nowrap;
}

.hamburger {
    display: none;
}

/* ---------------------------------------- Main Image */

.studio-image {
    background: url('../images/studio-front-desk.png') no-repeat center;
    min-height: 100%;
    width: 100%;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.booking-button {
    text-align: center;
    top: 80%;
    position: relative;
}

button {
    font-family: 'Pirata One';
    font-size: 4rem;
    border-radius: 8px;
    border: 2px #66b2b2;
    padding: 1rem; 
    margin-top: 10rem;
}

button a {
    text-decoration: none;
}

.studio-info {
    width: 48rem;
    border-radius: 8px;
    padding: 2rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

/* ----------------------------------------Body */

.main-content {
    margin: 1rem;
}

body {
    font-family: Montserrat;
}

/* ----------------------------------------Footer */

.home-icon {
    align-self: center;
    margin: 1rem;
}

div.footer.flex-container {
    justify-content: space-between;
}

.footer-logo {
    align-items: flex-start;
    justify-content: center;
    flex-flow: row nowrap;
    flex-direction: row;
    padding: 1rem;
    height: 8rem;
    width: 8rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
    flex-wrap: wrap;
}

.contact-details h6 {
    font-size: 1rem;
}

#mini-logo-footer {
    height: 7rem;
    width: 7rem;
}

.laser-logo {
    display: flex;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    flex-wrap: wrap;
}

.social-networks i {
    font-size: 4rem; 
}

ul {
    list-style-type: none; 
}

.opening-times h6 {
    font-size: 1rem;
    text-align: center;
    padding-top: 2rem;
}

.stefania-logo {
    padding-top: 2rem;
}

.social-buttons {
    padding-top: 1rem;
}

/*--------------------------------------------Colors*/

hr {
    background-color: #013636;
}

.site {
    background-color: #006666;
}

button {
    color: #004c4c;
    background-color: rgba(178, 216, 216, 0.85);
}

button a {
    color: #004c4c;
}

.studio-info {
    color: #b2d8d8;
    background-color: rgba(0, 128, 128, 0.85);
}

body {
    color: white;
}

.mini-logo {
    background-color: #013636;
}

nav ul li a {
    color: white;
}

nav {
    background-color: #013636;
}

footer {
    background-color: #013636;
}

.contact-details {
    color: white;
}

.social-networks i {
    color: white;
}

/*--------------------------------------------Media Queries*/

@media screen and (min-width: 320px) {
    .opening-times .contact-details h6 {
        display: none;
    }

    .opening-times .contact-details .stefania-logo .map {
        display: none;
    }
}

@media screen and (min-width: 1440) {
    .mobile-header {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .hamburger {
      display: grid;
    }

    .mini-logo {
        justify-content: space-between;
    }

    .mobile-header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #header {
        flex-direction: column;
    }

    #menu {
        display: none;
    }

    .studio-info {
        display: flex;
        font-size: 1rem;
        flex-wrap: wrap;
        padding: 0.5rem;
        min-width: 60%;
        align-self: center;
    }

    .opening-times .contact-details {
        font-size: 0.5rem;
    }

    .opening-times .contact-details h6 {
        font-size: 0.5rem;
    }

    .map {
        display: none;
    }
}

@media screen and (min-width: 1201) and (max-width: {

    .opening-times {
        font-size: 1rem;
    }

    .opening-times .contact-details h6 {
        font-size: 1rem;
    }

    .contact-details {
        font-size: 1rem;
    }
}

/*below means nav links always shown for screens 801px and above --->
/*@media screen and (min-width: 801px) {
    .menu {
      display: block !important;
    }
  }