@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&display=swap');

/* ----------------------------------------Special paddings/margins/text */

* {
    padding: 0;
    margin: 0;
    border: 0;
  }

  * {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
  }

/*--------------------------------------------Heading*/

#header {
    max-width: 100%;
    max-height: 85%;
    z-index: 1;
}

#mini-logo {
    height: 100px;
    width: 100px;
}

#text-logo {
   width: 97%;
   padding-left: 50px;
}

.logo-break {
    margin-top: 80px;
}

/*-----------------------------------------Nav */

#menu a:hover{
    border-bottom: 1.5px solid white;
}

.active {
    border-bottom: 1.5px solid white;
}

.navbar {
    height: 16px;
}

nav {
    position: fixed;
}

.navlink {
    margin-left: 149px;
    margin-right: 149px;
    margin-bottom: 50px;
    
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Montserrat !important;
}

ul li a {
    list-style-type: none;
    float: right;
}

/* ----------------------------------------Hero Image */

/* ----------------------------------------Body */

body {
    font-family: Montserrat;
}

hr {
    display: block;
    margin: 8px auto 8px auto;
    border-style: ridge;
    border-width: 1px;
    border-color: black;
    width: 70%;
  }

/* ----------------------------------------Footer */

#mini-logo-footer {
    height: 100px;
    width: 100px;
    margin-top: 40px;
}

#footer {
    max-width: 100%;
    max-height: 85%;
    z-index: 1;
}

.contact-details h3 {
    font-size: 16px;
}

.social-networks {
    text-align: right;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 70px;
    color: white;
    padding-right: 10px;
    padding-bottom: 0;
}

footer {
    height: 85%;
    width: 100%;
}

#footer {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    float: left;
}

.home-icon {
    padding-top: 20px;
    padding-left: 75px;
}

.contact-details {
    float: right;
    padding-right: 1550px;
    text-align: left;
    color: white;
    font-size: 12px;
}

#map {
    float: left;
    border: 0;
    margin-left: 500px;
    position: absolute;
}

/*--------------------------------------------Colors*/

body {
    background-color: #004c4c;
}

nav ul li a {
    color: white;
}

.nav-wrapper {
    background-color: #013636;
}

.footer {
    background-color: #013636;
}

/*--------------------------------------------Media Queries*/

/*@media screen and (max-width: 1393px) {
    #nav-wrapper {
        width: 65%;
        height: 1200px;
    }

}

@media screen and (max-width: 943px){

    #menu {
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }
}*/

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.main-content {
    flex: 1;
}

  
  
